/* UserTable.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Agar tabel tidak terpotong */
.table-container {
  width: 100%;
  padding: 20px;
  overflow-x: auto; /* Scroll horizontal jika tabel terlalu lebar */
}

table {
  width: 100%; /* Pastikan tabel memenuhi lebar container */
  table-layout: fixed; /* Menyusun kolom agar lebih konsisten */
  border-collapse: collapse; /* Menghapus spasi antar border */
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #f4f4f4; /* Memberikan warna latar untuk header */
}

button {
  margin: 5px;
}
